<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="/style_faq.css">

<!-- Bootstrap -->
        <!-- --------------BootStrap Inclusion Starts--------------------- -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- --------------BootStrap Inclusion Ends--------------------- -->

    <!-- CSS -->
        <!-- --------------FontAwesome Inclusion Starts--------------------- -->
        <link rel="stylesheet" href="/css/all.min.css">
        <!-- --------------FontAwesome Inclusion Ends--------------------- -->
      <style>
        .btn-dark{
          background-color: #583924;
        }
      </style>

</head>
<body>

  <section id="header-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <span style="font-size: 2em; color: black;">
                 <i class="fa fa-book-reader"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h2 class="my-name-top">DigitalStudy&nbsp&nbsp&nbsp&nbsp&nbsp</h2>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link" href="/index" style="padding-top: 12px;">
                <span style="font-size: 1em; color: black; padding-top: 5em;">
                  <i class="fas fa-angle-double-up"></i>
                  <span class="sr-only">(current)</span>
                </span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Homepage&nbsp&nbsp&nbsp<span class="sr-only">(current)</span></a>
          </li>
          </ul>
<!--
          <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="/google">
            <button class="btn btn-outline-light btn btn-dark" type="submit" style="width: 4.5cm;"><i class="fab fa-google"</i>&nbsp&nbspGoogle Login</button>
          </a>
-->
<!--
          <a class="nav-link" href="/signup">
            <button class="btn btn-outline-light btn btn-dark" type="submit" style="width: 2.5cm;"></i>Sign up</button>
          </a>
          <a class="nav-link" href="/login">
            <button class="btn btn-outline-light btn btn-dark" type="submit" style="width: 2.5cm;"></i>Login</button>
          </a>
-->
          </form>         
      </div>
    </nav>
  </section>

  
 
<div class="container">
 
  <h2>FAQ</h2>
 
  <div class="accordion">
    <div class="accordion-item">
      <a>How to Open Meeting?</a>
      <div class="content">
        <p>First Click on this button, then that button, then OK.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How JavaScript Can Modify HTML and CSS Values?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>What Is SVG?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>Is FAQ Section Matters In Website?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How To Create a Light FAQ Element?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
  </div>
  
</div>
 
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script  src="/function_faq.js"></script>
 
</body>
</html>